body {
  display: flex;
  font-family: Arial, sans-serif;
}


#header {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 70px;
    background-color: white;
    border-bottom: 3px solid #0f4d32;
}



#titulo {
    position: absolute;
    align-items: center;
    right: 600px;
    color: #0f4d32;
}


nav {
    width: 250px;
    background-color: #0f4d32;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}


#menu {
    list-style: none;
    padding: 20px;
}


#logo {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
}



#menu li {
    margin: 15px 0;
}


#menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 25px;
    border-radius: 5px;
}


#menu li a:hover {
    background-color: #1e7a52;
    transition: 0.3s;
}


section {
    margin-left: 200px;
    margin-top: 70px;
    width: calc(100% - 200px);
    background-color: #f5f5f5;
}

#perfil {
  position: absolute;
  width: 80px;
  right: 30px;
  top: 25px;
  background-color: #0f4d32;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

#contenido-principal {
  width: 90%;
  height: 91vh; 
  background-image: url("../img/logo2.jpg");
  background-size: cover;      
  background-position: center; 
}


#Evidencias {
    position: absolute;
    top: 90px;
    right: 0%;
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#Evidencias h2 {
    color: #0f4d32;
}


table {
    position: absolute;
    top: 150px;
    left: 250px;
    width: calc(100% - 250px);
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #0f4d32;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

tr:hover {
    background-color: #f2f2f2;
}


#proceso {
    color: blue;
    font-weight: bold;
}

#finalizado {
    color: green;
    font-weight: bold;
}