body {
    margin: 0;
    padding: 0;
}

.fondo {
    height: calc(130vh - 150px);
    background-image: url("../imagenes/fondo.png");
    background-size: cover;
    background-position: center;
}

.sesion {
    height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F3D2B;
}

.sesionCuadro {
    width: 300px;
    padding: 20px;
    border: 3px solid #1F3D2B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    transform: translateY(150px);
    background-color:white;
}

.botonSesion {
    margin-top: 15px;
    padding: 10px 25px;
    border: 3px solid #1F3D2B;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #F6F6F2;
}