*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
:root{
    --verde:#1a8f3c;
    --blanco:#ffffff;
    --gris:#f2f2f2;
}
.todito{
    display:flex;
    min-height:100vh;
}
.barrad{
    width:220px;
    background:var(--verde);
    color:white;
    padding:20px;
}
.barrad h2{
    text-align:center;
    margin-bottom:30px;
}

.barrad ul{
    list-style:none;
}

.barrad li{
    padding:12px;
    cursor:pointer;
    border-radius:5px;
}

.barrad li:hover{
    background:#157332;
}

.content{
    flex:1;
    background:var(--gris);
}
.topbar{
    background:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn{
    background:var(--verde);
    color:white;
    border:none;
    padding:10px 18px;
    cursor:pointer;
    border-radius:5px;
}

.btn:hover{
    background:#157332;
}
.tabla-contenedor{
    padding:25px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:var(--verde);
    color:white;
    padding:12px;
}

td{
    padding:10px;
    text-align:center;
    border-bottom:1px solid #ddd;
}
.pendiente{
    color:red;
    font-weight:bold;
}

.proceso{
    color:orange;
    font-weight:bold;
}

.finalizado{
    color:green;
    font-weight:bold;
}

.ver{
    background:#1a8f3c;
    color:white;
    border:none;
    padding:6px 10px;
    cursor:pointer;
    border-radius:4px;
}

.ver:hover{
    background:#157332;
}
